<%= javascript_include_tag "jquery.validationEngine-pt-BR","jquery.validationEngine" %>
<%= stylesheet_link_tag "validationEngine.jquery"%>

<% form_tag send_contact_path, :method => :post  do -%>

	<p class="text_hint">* campos obrigatórios</p>
	<p>
	  <b>*Nome:</b><br />
		<%= text_field_tag :name, nil, :size => 30, :class=>"validate[required,custom[onlyLetter],length[0,100]] text-input" %>
	</p>

	<p>
	  <b>*E-mail:</b><br />
		<%= text_field_tag :email, nil, :size => 30, :class=>"validate[required,custom[email]] text-input" %>
	</p>

	<p>
	  <b>Outros contatos:</b><br />
	  <%= text_field_tag :other_contacts, nil, :size => 30 %>
	</p>

	<p>
	  <b>*Mensagem:</b><br />
		<%= text_area_tag :message, nil, :cols => 40, :rows => 3, :class=>"validate[required]" %>
	</p>

	<p><%= submit_tag "Enviar", :class => "button" %></p>

<% end -%>