<%= javascript_include_tag "spry/SpryValidationTextarea","spry/SpryValidationTextField" %>
<%= stylesheet_link_tag "spry/SpryValidationTextarea","spry/SpryValidationTextField" %>

<% form_tag send_contact_path, :method => :post  do -%>

	<p class="text_hint">* campos obrigatórios</p>
	<p>
	  <b>*Nome:</b><br />
		<span id="spry_name">
		  <%= text_field_tag :name, nil, :size => 30 %>
		  <br/>
			<span class="textfieldRequiredMsg">Campo obrigatório.</span>
	  </span>
	</p>

	<p>
	  <b>*E-mail:</b><br />
	  <span id="spry_email">
		  <%= text_field_tag :email, nil, :size => 30%>
		  <br/>
		  <span class="textfieldRequiredMsg">Campo obrigatório.</span>
		  <br/>
		  <span class="textfieldInvalidFormatMsg">Formato inválido.</span>
	  </span>
	</p>

	<p>
	  <b>Outros contatos:</b><br />
	  <%= text_field_tag :other_contacts, nil, :size => 30 %>
	</p>

	<p>
	  <b>*Mensagem:</b><br />
		<span id="spry_message">
		  <%= text_area_tag :message, nil, :cols => 40, :rows => 3 %>
		  <br/>
			<span class="textareaRequiredMsg">Campo obrigatório.</span>
	  </span>
	</p>

	<p>
	  <%= submit_tag "Enviar", :class => "button" %>
	</p>

<% end -%>

<script type="text/javascript">
<!--
var spry_message = new Spry.Widget.ValidationTextarea("spry_message");
var spry_name		 = new Spry.Widget.ValidationTextField("spry_name");
var spry_email	 = new Spry.Widget.ValidationTextField("spry_email", "email");
//-->
</script>