<% admin_page_header "Editando Categoria de Produto" %>

<%= error_messages_for :product_category %>

<% form_for(@product_category, :url=>admin_product_category_path(@product_category) ) do |f| %>
  <p>
    <b>Categoria</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>

<%= link_to 'Exibir', admin_product_category_path(@product_category) %> |
<%= link_to 'Voltar', admin_product_categories_path %>
