<% admin_page_header "Exibindo Produto" %>

<p>
  <b>Produto:</b>
  <%=h @product.name %>
</p>

<p>
  <b>Categoria:</b>
  <%=h @product.product_category.name %>
</p>

<p>
  <b>Preço:</b>
  <%=h @product.price %>
</p>

<p>
  <b>Preço promocional:</b>
  <%=h @product.promotional_price %>
</p>

<p>
  <b>Breve descrição:</b>
  <%=h @product.short_description %>
</p>

<p>
  <b>Descrição:</b>
  <%=h @product.description %>
</p>

<p>
	<% for thumb in @product.product_images %>
	<%= link_to image_tag(thumb.public_filename(:thumb)), thumb.public_filename, :target => "_blank" %>
	<% end %>
</p>

<%= link_to 'Editar', edit_admin_product_path(@product) %> |
<%= link_to 'Voltar', admin_products_path %>
