<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title> Admin </title>
    <%= stylesheet_link_tag "admin" %>
  </head>
  <body>

		<div id="header" class="global" >
			<h1>Administração</h1>
		    <br/>
		</div>

		<div id="container">
			<% if flash[:notice] %><div id="notice" class="notice"><%= flash[:notice] %></div><% end %>
			<% if flash[:warning] %><div class="warning"><%= flash[:warning] %></div><% end %>
			<% if flash[:error] %><div class="error"><%= flash[:error] %></div><% end %>

			<div class="content">
				<p>&nbsp;</p>
				<%=@content_for_layout%>
				<p>&nbsp;</p>
			</div>
		</div>
		<div id="footer"><a href="http://www.YOURSITE.com.br/">Desenvolvidor por YOURSITE</a></div>

  </body>

</html>