<% admin_page_header "Listando Notícias" %>

<table width="100%" id="datagrid">
  <tr>
    <th>AUTOR</th>
    <th>TÍTULO</th>
    <th>TEXTO</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

  <% for post in @posts %>
  <tr class="<%=cycle('odd','even')%>">
    <td><%=h post.author %></td>
    <td><%=h post.title %></td>
    <td class="show_column"><%= link_to 'Exibir', admin_post_path(post) %></td>
    <td class="edit_column"><%= link_to 'Editar', edit_admin_post_path(post) %></td>
    <td class="delete_column"><%= link_to 'Excluir', admin_post_path(post), :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Adicionar notícia', new_admin_post_path %>

