<% admin_page_header "Nova not&iacute;cia" %>

<% form_for [:admin,@post], :html => { :multipart => true } do |f| %>
	<%= f.error_messages %>
  <p>
    <b>Autor</b><br />
    <%= f.text_field :author, :value => current_user.login, :readonly=>"readonly" %>
  </p>

  <p>
    <b>Título</b><br />
    <%= f.text_field :title %>
  </p>

  <p><b>Texto</b></p>
   <%= f.text_area :body %>
	<br/>

  <div id="upload_images">
    <%= render :partial => "image", :collection => @post.images %>
  </div>

  <%= add_image_field "Adicionar mais imagens"%>
	<p class="text_hint">apenas imagens com no m&aacute;ximo 500kb.</p>

  <p>
    <%= f.submit "Criar" %>
  </p>
<% end %>

<%= link_to 'Voltar', admin_posts_path %>

<%= niceditor %>
