<%= stylesheet_link_tag "product" %>

<h1>Produtos</h1>

<% for product in @products %>

	<div class="product_box">
		<%= link_to image_tag(product.images[0].image.url(:small)), product_path(product.id) %>
		<b><%= product.name %></b><br/>
		<%= product.short_description %><br/>
		<%= show_price(product) %><br/>
		<%= link_to "+ detalhes", product_path(product.id), :class=>"view" %>
	</div>

<% end %>
